{% include 'partial/header.html' %}

	
	<div class="container">
		<div class="row">
			<div class="slider">
				<div class="img-responsive">
					<ul class="bxslider">
						{%for image in images_slides%}				
						<li><img src="{{image.href}}" alt="{{image.description}}"/></li>	{%endfor%}		
					</ul>
				</div>	
			</div>
		</div>
	</div>
		
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="text-center">
					<h2>{{page_intro_title}}</h2>
					<p>{{page_intro_description}}</p>
				</div>
				<hr>
			</div>
		</div>
	</div>
	
	<div class="container">

		<div class="row">

			<div class="box">
				{% for content in page_content %}
				<div class="col-md-4">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
						<h4>{{content.title}}</h4>					
							<div class="icon">
								<i class="{{content.iclass}}"></i>
							</div>						
						<p>{{content.excerpt}}</p>
						<div class="ficon">
							<a href="{{content.href}}" class="btn btn-default" role="button">Read more</a>
						</div>
					</div>
				</div>
				{% endfor %}
				
				
			</div>
		</div>
	</div>
	
{% include 'partial/footer.html' %}
